body {
    margin-top: 20px;

    background-image: url('https://wallpaperplay.com/walls/full/9/7/7/107688.jpg');

    background-attachment: fixed;

    color: lightsteelblue;
    font-family: 'Anton', sans-serif;

}


/* h1,
h2,
p {
   

} */